@font-face {
  font-family: 'Alibaba-PuHuiTi-Medium';
  src: url(./Alibaba-PuHuiTi-Medium2.ttf);
}
@font-face {
  font-family: 'Alibaba-PuHuiTi-Regular';
  src: url(./Alibaba-PuHuiTi-Regular2.ttf);
}
@font-face {
  font-family: 'AiDeep';
  src: url(./AiDeep2.ttf);
}
@font-face {
  font-family: 'huakangli';
  src: url(./huakangli-md2.ttf) format('typetrue');
}